* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
      
}

.container{
    width: 100%;
    height: 500px;
    background-image: url('images/showcase.jpg');
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(74, 72, 72);
    color: white;
    padding: 20px;
    
    border-bottom: 5px solid orangered;
}
.home{
    color: orangered;
}
.nav-item{
    list-style-type: none;
    display: flex;
    gap: 40px;
}
span{
    color: orangered;
}
.image{
    position: fixed;
    width: 1440px;
    height: 400px;
}
.bottom-container{
   
    background-color:  rgb(74, 72, 72);
    
    padding: 20px;
    
    color: black;
    display: flex;
    justify-content: space-around;
}
.img-content{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    text-align: center;
    padding: 150px;
}
.title{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.title2{
    color: white;
    padding: 10px;
    font-weight: bold;

}
.search{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.button{
    list-style-type: none;
    color: white;
    border: 1px solid orangered;
    background-color: orangered;
    text-align: center;
    width: 100px;
    padding: 5px;
}
.icon{
    width: 200px;
    height: 40px;
}
.section{
    width: 100%;
    height: 480px;
    display: flex;
}
.footer{
   
    background-color:  orangered;
    
    padding: 20px;
    
    color: white;
    display: flex;
    justify-content: space-around;
}
.card{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 340px;
    text-align: center;
    padding: 40px;
    border: 2px solid white;
    margin: 50px;
  
}
.logo{
    width: 100px;
    height: 100px;
    align-self: center;
}
.card h3{
    font-weight: bold;
}

